{% set links_list = bookmarks.links %}
{% set tags_list = bookmarks.tags %}
{% set tag_class = theme_var('bookmarks-tags-class') %}
{% extends 'partials/base.html.twig' %}

{% block content %}
    <h3>{{ page.title }}</h3>
    {{ page.content | raw }}

    {% include 'partials/bookmarks/tags-list.html.twig' %}
    <hr/>
    {% include 'partials/bookmarks/links-list.html.twig' %}
{% endblock %}
